ul.getting-started
	li
		h4
			a.ajax(href="/lessons/structure", data-title="structure", tabindex="1") Structure of a Lesson
	li
		h4
			a.video(href="/lessons/importance", data-title="importance", tabindex="2") Importance of Introduction
	li
		h4
			a.video(href="/lessons/venn", data-title="venn", tabindex="3") Venn Diagram
	li
		h4
			a.video(href="/lessons/numerals", data-title="numerals", tabindex="4") Numerals
	li
		h4
			a.ajax(href="/lessons/chart", tabindex="5") Chart
	li
		h4
			a.ajax(href="/manual/source-content", data-nav="/manual/navigation", tabindex="6") Back
	li
		h4
			a(href="/", tabindex="7") Home
				
	div(style="position:absolute; top: 500px; left: 60px;")
		a.ajax(href="/resources/video-recording", data-title="Video Recording", data-nav-top="remove", data-nav-side="/resources/navigation") 
			img(src="/images/resources.png")