ul.getting-started
	li
		a.ajax(class="active", href="/resources/video-recording", tabindex="1") Video Recording
	li
		a.ajax(href="/resources/audio-recording", tabindex="2") Audio Recording
	li
		a.ajax(href="/resources/audio-editing", tabindex="3") Audio Editing
	li
		a.ajax( href="/resources/photo-use", tabindex="4") Use of Photos
	li
		a.ajax(href="/resources/stickposer-use", tabindex="5") Use of Stick Poser
	li
		a.ajax(href="/resources/powerpoint", tabindex="6") Use of Power Point
	li
		a.ajax(href="/resources/guidelines", tabindex="7") Guidelines
	li
		a.ajax(href="/resources/stickposer", tabindex="8") Stick Poser
	li
		a.ajax(href="/resources/svg-editor", tabindex="9") SVG Editor Program
	li
		a.ajax(href="/resources/photos", tabindex="10") Photos
	li
		a.ajax(href="/resources/other", tabindex="11") Other
	li
		a.ajax(href="/resources/using-cellphone", tabindex="12") Using Cell Phone
	li
		a.ajax(href="/resources/audacity", tabindex="13") Editing in Audacity
	li
		a.ajax(href="/resources", data-nav="/navigation", tabindex="14") Back
	li
		a(href="/", tabindex="15") Home