style.
	div.main {
		height: 800px;
		overflow-y: scroll;
	}

h2 Some steps to instruct new users of the Stick Poser

p.
	It will be important to be sure that the tools are clearly and unambiguously labeled so that they make sense to someone who is not an artist and doesn’t think like an artist. 
	It could be that words like “roundness” are confusing to some users. A person might associate that word with circles and think that it only applies to the ovals that constitute the head, feet and hands, for instance. Maybe “curvature” would be a better word or maybe a phrase like “add a curve” or “soften the angle.” 
	“Number Mid Points” might be easier to understand if it said something like “add control points to a part” or something along those lines. 
	Maybe I’d start like this:

h3 The purpose of this poser
p.
	You can use the poser to put a stick figure into whatever position it needs to be in, in order to illustrate a point that you are making in your lesson. If you are talking about someone walking, for example, put your stick figure in a walking pose. If you mention jumping, have your stick figure jump. The pose is completely up to you. With the poser your stick figures can do whatever you want them to.
	In order to change the pose you will have to move each part of the stick figure to whatever position it would be in for the pose you desire. 

h3 Lines and points
p.
	This stick figure is made of black lines that are always visible, and points that are only visible when you select a specific part of the figure.
	You can see the points that make up each part only when you click on the part. 
	Think of the black lines as rubber bands that are stretched around the points that make up each part. When a point is moved, it affects the black line.
	Experiment with moving the blue points around and you will see how the black lines adjust to those movements.

h3 How to change the stick figure’s pose
p.
	The stick figure consists of a torso, a head, 2 arms, 2 hands, 2 legs and 2 feet.
	Each part has to be moved separately. 
	Once you have selected a part by clicking on it, you may decide that you need more points added to it so that you can pose it in the exact position desired. Add the number of additional points you need by clicking on the correct “Number Mid Points” from the row of numbers below your stick figure, while you have a part selected. (Use the fewest points necessary, as having too many points can slow down and over-complicate the process.)
	When you add points to any part, that part will revert back to its original straight -line shape and you will have to move all the points again. They will be stacked on top of each other and will not all be visible until the topmost point is moved. 
	Remember that the point where a part joins another part will be grey. 
	The point at the other end of the selected part will be orange. 
	All points between these two will be blue.
	Important: There are two points that cannot be moved. One is the point where the head joins the torso and the other is the point where the arms join the torso. 
	The point at which the legs join the torso is movable, but only when the torso itself is selected. You cannot, for example, select a leg and then move the grey point at which it joins the torso.

h3 Roundness
p.
	The “Roundness” tool is useful to add curvature to your stick figure’s different parts. This keeps it from looking so stiff and puts it into poses that are more realistic.
	You may want to use this tool after you have posed the part with the number of points necessary for that pose. 
	Experiment with different settings to see how this tool works and to get the look you desire.


h3 The Head
p.
	To make the head into an oval shape, first select it.
	Then click on “2” beside “Number Mid Points.”
	Select the orange point (on the head) and drag it off to the left an inch or so. This gets it out of the way so that you can more easily select the blue mid points.
	Drag the top blue point up an inch or so to the left.
	Drag the other blue point the same distance up and to the right.
	Now drag the orange point back down and put it directly over the grey point.
	The head should be shaped like a triangle.
	Go down to the “Roundness” tool and select “0.8” That should make the head shape rounder. (Experiment with other Roundness settings to see how they would affect the shape to help you get used to them.)
	If you desire a more oval shape, add a larger number of points. 
	Important: Remember that when you add points to any part, that part will revert back to its original straight-line shape and you will have to move all the points again. They will be stacked on top of each other and will not all be visible until the topmost point is moved. 

h3 Hands and feet
p.
	The hands and feet are automatically attached to the arms and legs.
	Once you have positioned the arms and legs, you will have to move the hands and feet as well. For that reason, you should first get the arms and legs into the position desired, then move the hands and feet.
	You may choose to keep the hands and feet as simple straight lines.
	If you want to make them into ovals (rounder ones for hands and oblong ones for feet) then you can add mid points and move them to get the shape you want.
	Use the Roundness tool to make them more oval after adding points, as you did with the head.
	
p
