script(src='/js/kinetic-v4.5.5.min.js')
script(type='text/javascript', src='/js/PoseController.js')
script(type='text/javascript', src='/js/PoseFigure.js')
script(type='text/javascript', src='/js/PosePart.js')
script(type='text/javascript', src='/js/PoseFile.js')
link(rel='stylesheet', type='text/css', href='/styles/PoseStyleSheet.css')

script.
	var controller;
	
	$(document).ready(function(){
		controller = new PoseController();
		controller.Build('controlpanel');
	});

#poser-wrapper
	#poser-container
	#controlpanel