h2.title Mission Statement / Goals

p.
	Each subject is broken into small segments of 3-5 minutes that are simple and easy to grasp.

p.
	The videos are highly visual and easy to translate into any language of the world.

p.
	The videos are designed in such a way that each lesson is memorable to the teachers for whom they are intended

p.
	Potential for a global, people-to-people revolution in education. 

p.
	Lends to viral sharing.

p.
	Translatable
	 
p.
	Memorable
	 
p.
	People’s Participation

p.
	Value
	
p
	img(src="/images/share-world.png")
