h1 Resources

h2 Technical Guidelines:
p
	a.ajax(href="/resources/video-recording", data-title="Video Recording", data-nav-side="/resources/navigation") Video Recording (using cell phone)
p
	a.ajax(href="/resources/audio-recording", data-title="Audio Recording", data-nav-side="/resources/navigation") Audio Recording (using cell phone)
p
	a.ajax(href="/resources/audio-editing", data-title="Audio Editing", data-nav-side="/resources/navigation") Audio Editing (Open source program)
p
	a.ajax(href="/resources/photo-use", data-title="Use of Photos", data-nav-side="/resources/navigation") Use of Photos
p
	a.ajax(href="/resources/stickposer-use", data-title="Use of Stick Poser", data-nav-side="/resources/navigation") Use of Stick Poser
p
	a.ajax(href="/resources/powerpoint", data-title="Use of PowerPoint", data-nav-side="/resources/navigation") Use of PowerPoint

h2 Scripts:
p
	a.ajax(href="/resources/guidelines", data-title="Guidelines", data-nav-side="/resources/navigation") Guidelines

h2 Graphics:
p
	a.ajax(href="/resources/stickposer", data-title="Stick Poser", data-nav-side="/resources/navigation") Stick Poser
p
	a.ajax(href="/resources/svg-editor", data-title="SVG Edit", data-nav-side="/resources/navigation") SVG Edit program
p
	a.ajax(href="/resources/photos", data-title="Photos", data-nav-side="/resources/navigation") Photos
p
	a.ajax(href="/resources/other", data-title="Other", data-nav-side="/resources/navigation") Other

h2 Audio:
p
	a.ajax(href="/resources/using-cellphone", data-title="Using Cell Phone", data-nav-side="/resources/navigation") Using Cell Phone
p
	a.ajax(href="/resources/audacity", data-title="Editing in Audacity", data-nav-side="/resources/navigation") Editing in Audacity (provide resources/tutorials)
