style.
	div.main {
		height: 700px;
		overflow-y: scroll;
	}

h2.title Volunteering

p
	img(src="/images/volunteer.png", style="float: left; padding: 0 10px 10px ")
	| Since 1995, more than 45 people from across the country and around the world have served with Trees for Life as fulltime volunteers. 
	| Some have come through Brethren Volunteer Service or Mennonite Voluntary Service, and some have come on their own. Usually they live and serve at the international office in Wichita, Kansas.
	
h3 Community Volunteer
p. 
	If you live in the area of Wichita, Kansas, here are some meaningful ways you can contribute your time and talents locally: 

p.
	For more information, contact Jeffrey Faus at:
	<a href="tel:316-945-6929">(316) 945-6929</a>

p
	| or <a href="mailto:volunteer@treesforlife.org">volunteer@treesforlife.org</a>


h3 Current Opportunities

h4
	span(style="text-decoration:line-through") Graphic Design Artist 
	| &nbsp;<span>Erin's Minion</span>
	
h5 Specific duties:
p.
	Design graphics and layout for presentations, newsletters, other publications, and <span style="text-decoration:line-through">web pages</span> <span>PP slides</span>.

p.
	Minimum requirements:
p.
	Requires graphic art degree or similar work experience and ability. Also requires flexibility, ability to work as part of a team, and ability to give and take constructive criticism and make revisions.
hr

h4
	span(style="text-decoration:line-through") Flash Animator 
	| &nbsp;<span>Powerpoint Maestro</span>

h5 Description
p.
	Design and edit animations for web pages, presentations and other technologies.

h5 Skills
p.
	Requires one year hands-on experience or similar work experience and ability. Also requires flexibility, ability to work as part of a team, and ability to give and take constructive criticism and make revisions.
hr

h4
	span(style="text-decoration:line-through") Drupal Developer 
	| &nbsp;<span>Node Ninja</span>

h5 Description
p.
	Create custom code and custom modules for <span style="text-decoration:line-through">Drupal</span> <span>Node.js</span> for Trees for Life International's web sites. 
	We need custom systems that match our needs. Developer who can implement technical solutions to those needs as they arise.

h5 Skills
p.
	Experienced with <span style="text-decoration:line-through">Drupal</span> <span>HTML 5 / CSS / Responsive / Javascript/ Node.js / Mongo / Heroku / CLOUD</span> development. 
	Developer must know how to customize <span style="text-decoration:line-through">Drupal</span> <span>Express / Sails.js / NodeBB</span> both configuration and creating custom code. 
	The developer should be comfortable finding and using existing code / modules where possible. 
	When an exact solution does not already exist, the developer should be comfortable taking an existing solution and modifying it to be an exact solution. 
	The developer should be comfortable integrating code from various vendors (in this case, various <span style="text-decoration:line-through">Drupal</span> <span>Node</span> modules) into a single solution. 
	The developer should be able to create clean, well-documented, publicly-releasable code.

p.
	The developer should be familiar with source-code management sytems such as <span style="text-decoration:line-through">CVS and SVN (Subversion)</span> <span>GIT(Hub)</span>,
	Everybody (in the know) now uses GIT for its public module repository.

p.
	Ability to work as part of a team. <span style="font-size:8px">Exceptions made for smarktopus</span>.

hr

h4
	span(style="text-decoration:line-through") "To Be Defined"
	| &nbsp;<span>Scott's Minion</span>
	
h5 Specific duties:
p.
	This position is not defined yet, because <span style="text-decoration:line-through">we</span> <span>Scott</span> hasn't met you yet. 
	To <span style="text-decoration:line-through">us</span> <span>him</span>, working with a volunteer is an <span style="text-decoration:line-through">organic process</span> <span>gratifying subservience</span>. 
	It is a <span style="text-decoration:line-through">dance</span> <span>song of fire and ice</span> between knowing who you are, where your passion is, and what Trees for Life is currently doing. 
	We will work with you to discern what your strengths are and areas where you can grow. It is a dance to see how your passion may fit into what Trees for Life is doing and also to see how you can go further—to things you haven't even imagined.

h5 Minimum requirements

p.
	Passion for service, desire to learn and grow, flexibility, ability to work as part of a team, knowledge of self, ability to give and take constructive criticism, sense of personal responsibility, willingness to try new things. 
	Requirements are weighted as 5% Skills, 5% Ability to work with a team, and <span style="text-decoration:line-through">90%</span> <span>100%</span> <span style="text-decoration:line-through">Attitude</span> <span>Holy Obedience</span>.

p(style="height: 120px")