h3 Approved Storyboard - Accurate
p.
	Once team members have approved the scene ideas in the first draft storyboard, those ideas need to be organized into their final timeline 
	layout and grouped into shots and scenes in the Approved Storyboard. All team members will work from this storyboard, so details and visuals 
	should be easily recognizable and descriptive 
	(but again, keep it fast and simple.)

h3 Scene Check List - Details!
p.
	Create a checklist for all elements of a scene based on the approved storyboard. Characters, props, text graphics and audio should be 
	carefully reviewed and assigned so all members understand what will be needed to complete each scene and keep the process moving.

aside.
	When creating a storyboard, think of your video as a story comprising various elements in a timeline. 
	For each major scene, you should include information about who the subject is, what they are doing, where and why they are doing it, and so on.



