.row
	.col-md-8
		h2.title Video Editing
		
	.col-md-4
		div(style="position:relative; top:360px; left:50px;")
			a.ajax(href="/lessons/importance", data-nav-side="/lessons/navigation") 
				img(src="/images/lessons.png")